@model LessonCreateViewModel
@{
    ViewData["Title"] = "LCreate";
    Layout = "~/Views/Shared/_LayoutTeacherAdmin.cshtml";
}

@section Styles {
    <style>
    
        .pic {
            width: 148px;
            height: 92px;
            overflow: hidden;
            position: relative; /* 添加相对定位，用于图像的绝对定位 */
        }

        .pic img {
            width: 100%; /* 使图像填充其包含块 */
            height: auto; /* 保持图像宽高比 */
            position: absolute; /* 绝对定位，相对于 .pic 容器 */
            top: 0; /* 图像距离容器顶部的位置 */
            left: 0; /* 图像距离容器左侧的位置 */
            transition: transform 1s ease-out; /* 将过渡效果应用于 transform 属性 */
        }

        .pic:hover img {
            transform: scale(1.2); /* 在悬停时进行缩放 */
        }
    </style>
}

<h1>新增課程</h1>
<hr />
<form asp-action="LessonCreate" id="OpenLesson" asp-controller="TeacherAdmin" method="post" enctype="multipart/form-data">
    <div class="container col-12">
        <div class="row">
            <div class="col-6">
                <div class=" bg-info-light text-center rounded-2 mb-2">基本資料</div>
                @* 隱藏屬性 *@
                <input type="hidden" id="courseType" value="@ViewBag.courseType" />
                <input type="hidden" id="getcourseType" name="getcourseType" value="@ViewBag.courseType">

                @if (@ViewBag.courseType=="new")
                {
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example" id="FFiled" name="FFiled">
                                <option selected>領域</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example" name="FSubject" asp-for="FSubject">
                                <option selected>科目</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control"  placeholder="" asp-for="FName">
                        <span asp-validation-for="FName" class="text-danger"></span>
                        <label for="FName">課名</label>
                    </div>
                }
                else
                {
                    <div class="row mb-3">
                        <div class="form-floating col-sm-6">
                            <input type="text" class="form-control" placeholder="" asp-for="FFiled" readonly>
                            <label for="FFiled">領域</label>
                        </div>
                        <div class="form-floating col-sm-6">
                            <input type="text" class="form-control" placeholder="" asp-for="FSubject" readonly>
                            <label for="FSubject">科目</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control"  placeholder="" asp-for="FName"  readonly>                        
                        <label for="FName">課名</label>
                    </div>
                }


                <input type="text" class="form-control" asp-for="FCode" hidden> 

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="FRequirement" placeholder="" asp-for="FRequirement">
                    <span asp-validation-for="FRequirement" class="text-danger"></span>
                    <label for="FRequirement">要求</label>
                </div>
                <!--編輯器-->
@*                 <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="FDescription" style="height: 100px; resize: none;" asp-for="FDescription"></textarea>
                    <span asp-validation-for="FDescription" class="text-danger"></span>
                    <label for="FDescription">課程介紹</label>
                </div> *@
                <label for="FEditorDes">課程介紹</label>
                <div class="form-floating mb-3">
                    
                    <textarea class="form-control" placeholder="Leave a comment here"  style="height: 100px; resize: none;" asp-for="FEditorDes"></textarea>
                    <span asp-validation-for="FEditorDes" class="text-danger"></span>
                    
                </div>


                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="FHomeworkDescription" style="height: 100px; resize: none;" asp-for="FHomeworkDescription"></textarea>
                    <span asp-validation-for="FHomeworkDescription" class="text-danger"></span>
                    <label for="FHomeworkDescription">作業</label>
                </div>
            </div>

            <div class="col-6">
                <div class="bg-warning-light text-center rounded-2 mb-2">其他資料</div>
                <!--封面照 croppie裁切-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            @* 檔案上傳  type="file"*@
                            <div class="mb-3">
                                <input class="form-control" type="file" asp-for="FPhoto" accept="image/*">
                            </div>
                            <div class="mb-4">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cut" onclick="openCutPhoto()">裁切圖片</button>
                            </div>
                        </div>
                        @* 預覽圖 *@
                        <partial name="_LessonshowPicturePartial" />
                    </div>
                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="售價" asp-for="FPrice">
                    <span class="input-group-text">元</span>
                    <span asp-validation-for="FPrice" class="text-danger"></span>
                </div>

                <!--人數-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="FMinPeople" placeholder="" asp-for="FMinPeople">
                            <span asp-validation-for="FMinPeople" class="text-danger"></span>
                            <label for="FMinPeople">最低人數</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="FMaxPeople" placeholder="" asp-for="FMaxPeople">
                            <span asp-validation-for="FMaxPeople" class="text-danger"></span>
                            <label for="FMaxPeople">名額</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>開課日期</label>
                        <input type="date" class="form-control" asp-for="FLessonDate">
                        <span asp-validation-for="FLessonDate" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label>報名截止日期</label>
                        <input type="date" class="form-control" asp-for="FRegDeadline">
                        <span asp-validation-for="FRegDeadline" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="inputTime1" class="col-form-label">開始時間</label>
                        <div class="input-group">
                            <input type="time" class="form-control" id="FStartTime" asp-for="FStartTime">
                            <span asp-validation-for="FStartTime" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <label for="inputTime2" class="col-form-label">結束時間</label>
                        <div class="input-group">
                            <input type="time" class="form-control" id="FEndTime" asp-for="FEndTime">
                            <span asp-validation-for="FEndTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="FVenueType">場地類型</label>
                    <div class="col-sm-6">
                        <fieldset>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="FVenueType" id="onclass" value="true" checked>
                                <label class="form-check-label" for="onclass">
                                    實體
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="FVenueType" id="online" value="false">
                                <label class="form-check-label" for="online">
                                    線上
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>


                <!--詳細場地資訊-->
                <div id="onClassInfo">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="場地名稱" asp-for="FVenueName">
                        <span asp-validation-for="FVenueName" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <select class="form-select" aria-label="Default select example" id="city" name="city">
                                <option selected>縣市</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-select" aria-label="Default select example" asp-for="FDistrictId" id="district">
                                <option selected>地區</option>

                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="詳細地址" asp-for="FAddressDetail">
                            <span asp-validation-for="FAddressDetail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div id="onlineInfo" hidden>
                    <p class="text-primary"> &#10132;將於成功開課後自動產生課程會議室連結</p>
                </div>

            </div>
        </div>
    </div>
    <hr />
    <div class="row r">
        <div class="col-1 ">
        </div>


        <!-- 按鈕 -->
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-light me-2 text-light" id="demo1">demo1</button>
            <button type="submit" class="btn btn-primary me-2" name="status" value="TempSave" onclick="setCourseType('@ViewBag.courseType')">暫存</button>
            <button type="submit" class="btn btn-primary me-2" name="status" value="Create" onclick="setCourseType('@ViewBag.courseType')">確定</button>
            <a class="btn btn-secondary" asp-action="LessonList" asp-controller="TeacherAdmin">取消</a>
            <div class="col-1"></div>
        </div>



    </div>


    <!--彈跳視窗-->
    <!-- Modal -->
    <div class="modal fade" id="cut" tabindex="-1" aria-labelledby="cutLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cutLabel">裁切圖片</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="croppie-container">
                    <!--<figure style="border: thin #c0c0c0 solid;border-radius: 8px;  display: flex; flex-flow: column; padding: 8px;margin: auto; background-color: white;width:420px;height:280px;">
                        @* <img class=" ls-is-cached lazyloaded" style="border-radius:6px;" src="@Url.Action("showPicture", "Lesson", new { id = Model.FLessonCourseId })" alt="course" id="cutPhoto" /> *@
                        <img class=" ls-is-cached lazyloaded" style="border-radius:6px;width:420px;height:280px;" alt="course" id="cutPhoto" />
                        </figure>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="crop-button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>
</form>




@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }

    <script src="~/js/tinascript/changevenuetype.js" asp-append-version="true"></script>
    <script src="~/js/tinascript/previewimage.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/forirr314cvct8ywt434kbf87vah6743olso1oyjfnhh3vhi/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" referrerpolicy="origin"></script>

    <!--帶出老師可開的領域-->
    <script>
        const filed = document.querySelector('#FFiled');
        const subject = document.querySelector('#FSubject');


        const loadfiled = async () => {
            const url = `@Url.Content("~/TeacherAdmin/TeacherAllowFiled")`;
            const response = await fetch(url);
            const data = await response.json();
            const options = data.map((item) => {
                return `<option value=${item.fFieldId}>${item.fFieldName}</option>`;
            })
            filed.innerHTML = options.join('');
            loadSubject();
        };
        if (courseType.value == "old") {
            console.log(document.getElementById("FPhoto"));
            previewImage(document.getElementById("FPhoto"), $('#imgPreview'));
        } else if (courseType.value == "new") {
            loadfiled();
        }

        const loadSubject = async () => {
            const filedid = filed.options[filed.selectedIndex].value;
            const url = `@Url.Content("~/TeacherAdmin/TeacherAllowSubject")?filedId=${filedid}`;
            const response = await fetch(url);
            const data = await response.json();
            const options = data.map((item) => {
                return `<option value=${item.fSubjectId} >${item.fSubjectName}</option>`;
            })
            subject.innerHTML = options.join('');

        };


        filed.addEventListener('change', loadSubject);
        document.addEventListener("DOMContentLoaded", async () => {
            if (courseType.value == "old") {
            } else if (courseType.value == "new") { loadSubject(); }
        
        });
    </script>
    <!--帶出縣市區域-->
    <script>
        const city = document.querySelector('#city');
        const district = document.querySelector('#district');
        const courseType = document.querySelector('#courseType');
        const loadcity = async () => {
            const url = `@Url.Content("~/TeacherAdmin/allCity")`;
            const response = await fetch(url);
            const data = await response.json();
            const options = data.map((item) => {
                return `<option value=${item.fCityId}>${item.fCityName}</option>`;
            })
            city.innerHTML = options.join('');
            loadDistrict();
        };
        (() => {
            
                  loadcity();
            
        })();

        const loadDistrict = async () => {
            const cittyid = city.options[city.selectedIndex].value;

            const url = `@Url.Content("~/TeacherAdmin/allDistrict")?cityid=${cittyid}`;
            const response = await fetch(url);
            const data = await response.json();
        
            const options = data.map((item) => {
                return `<option value=${item.fDistrictId}>${item.fDistrictName}</option>`;
            })
            district.innerHTML = options.join('');
        };

        city.addEventListener('change', loadDistrict);

    </script>

   
    <!--課程型態-->
    <script>
        function setCourseType(courseTypeValue) {
            document.getElementById('getcourseType').value = courseTypeValue;
            console.log(getcourseType);
        }
        window.onload = function () {
            setCourseType('@ViewBag.courseType');
           
        };
    </script>

  <!--Demo Button-->
    <script>
        const demo1 = document.querySelector("#demo1");

        const code = document.querySelector('#FCode');

        const name = document.querySelector('#FName');
        const requirement = document.querySelector('#FRequirement');
        const desc = document.querySelector('#FEditorDes');
        const hw = document.querySelector('#FHomeworkDescription');
        const price = document.querySelector('#FPrice');
        const minpeo = document.querySelector('#FMinPeople');
        const maxpeo = document.querySelector('#FMaxPeople');
        const lessondate = document.querySelector('#FLessonDate');
        const deadline = document.querySelector('#FRegDeadline');
        const start = document.querySelector('#FStartTime');
        const end = document.querySelector('#FEndTime');
        const venue = document.querySelector('#FVenueType');
        const vname = document.querySelector('#FVenueName');
        const address = document.querySelector('#FAddressDetail');

        name.getAttribute('value');
        demo1.addEventListener('click', () => {
            name.value = '台灣味道探索：手工製作台式鹹豆漿';
            requirement.setAttribute('value', '參加者需要有基本的烹飪知識和技巧，對台灣文化和飲食有興趣。');
            hw.innerHTML = '在課堂中，您將親自參與從黃豆的浸泡、研磨到烹煮的過程，並且學習調配不同的調味料，製作出獨特風味的鹹豆漿。';
            price.setAttribute('value', 900);
            start.setAttribute('value', '10:00');
            end.setAttribute('value', '13:00');
            minpeo.setAttribute('value', 8);
            maxpeo.setAttribute('value', 15);
            desc.innerHTML= '這門課程將帶領您學習製作台灣傳統的鹹豆漿，這是一道兼具營養與美味的台灣早餐。我們將從基礎的黃豆處理開始，到鹹豆漿的製作，讓您了解其中的技巧與妙處。';
            lessondate.setAttribute('value', '2024-03-29');
            deadline.setAttribute('value', '2024-03-27');
            vname.setAttribute('value', '食之藝術工作坊');
            address.setAttribute('value', '和平巷456弄78號');
            city.selectedIndex = 0;
            district.selectedIndex=11;
            subject.selectedIndex='1';
        });
    </script>

   
    <!--用錯誤訊息攔住阻止提交 -->
@*     <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault(); // 阻止表单默认提交行为
                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        // 在这里可以处理成功提交后的逻辑
                    },
                    error: function (xhr, status, error) {
                        // 如果提交失败，则重新加载验证错误信息
                        form.html(xhr.responseText);
                    }
                });
            });
        });
    </script> *@
    <!-- ====================TinyMCE==================== -->
    <!-- 這一段放在自己要用的@section Script -->
    <script>

        // 检查是否需要初始化 TinyMCE
        function initTinyMCE() {
            // 检查是否存在 id 或 name 为 'fEditorDes' 的 textarea
            const textarea = document.getElementById('FEditorDes') || document.querySelector('textarea[name="FEditorDes"]');

            // 如果存在，则初始化 TinyMCE
            console.log(textarea)
            if (textarea) {

                tinymce.init({
                    selector: 'textarea#FEditorDes',
                    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                });
                // 在此添加其他 TinyMCE 配置选项
            }
        }

        // 在页面加载完成后调用函数
        document.addEventListener('DOMContentLoaded', function () {
            initTinyMCE();
        });

        
    </script>
    <!--Image-->
    <script>

        $("#FPhoto").on("change", function () {
            previewImage(this, $('#imgPreview'));
        });

    </script>

    <!--Croppie-->
    <script>
        let finurl;
        //載入圖片
        function openCutPhoto() {
            const photourl = $("#imgPreview").attr('src');
            const img = new Image();            
            img.src = $("#imgPreview").attr('src');
            img.width = 420;
            img.height = 280;
            previewImage(this, img);
             finurl = img.src;
            console.log(img.src);
        };
        openCutPhoto();
        
        console.log(finurl);
        const basic = $('#croppie-container').croppie({
            viewport: {
                width: 420,
                height: 280
            },
            boundary: {
                width: 480,
                height: 320
            }
        });
        basic.croppie('bind', {
            url: finurl,
            points: [77, 469, 280, 739]
        });
       
    </script>
} 