@model LessonCreateViewModel
@{
    ViewData["Title"] = "LEdit";
    Layout = "~/Views/Shared/_LayoutTeacherAdmin.cshtml";
}

@section Styles {
    <style>
        .pic {
            width: 148px;
            height: 92px;
            overflow: hidden;
            position: relative; /* 添加相对定位，用于图像的绝对定位 */
        }

            .pic img {
                width: 100%; /* 使图像填充其包含块 */
                height: auto; /* 保持图像宽高比 */
                position: absolute; /* 绝对定位，相对于 .pic 容器 */
                top: 0; /* 图像距离容器顶部的位置 */
                left: 0; /* 图像距离容器左侧的位置 */
                transition: transform 1s ease-out; /* 将过渡效果应用于 transform 属性 */
            }

            .pic:hover img {
                transform: scale(1.2); /* 在悬停时进行缩放 */
            }
    </style>
}
<h1 class="d-inline display-6 me-3">檢視/修改課程</h1>
@* <button type="submit" class="btn btn-outline-info text-center align-self-center me-3">修改</button> *@
<span class="badge-lg rounded bg-warning text-dark text-center align-self-center ">@Html.DisplayFor(x=>x.FStatus)</span> 

<hr />
<form asp-action="LessonEdit" id="EditLesson" asp-controller="TeacherAdmin" method="post" enctype="multipart/form-data">
<div class="container col-12">
    <div class="row">
        <div class="col-6">
            <div class=" bg-info-light text-center rounded-2 mb-4">基本資料</div>

                @* 隱藏屬性 *@
                <input type="hidden" id="courseType" value="@ViewBag.courseType" />
                <input type="hidden" id="getcourseType" name="getcourseType" value="@ViewBag.courseType">
                <input type="text" class="form-control" asp-for="FCode" hidden>
                <input type="text" class="form-control" asp-for="FLessonCourseId" hidden>

                <div class="row mb-3">
                    <div class="form-floating col-sm-6">
                        <input type="text" class="form-control" placeholder="" asp-for="FFiled" readonly>
                        <label for="FFiled">領域</label>
                    </div>
                    <div class="form-floating col-sm-6">
                        <input type="text" class="form-control" placeholder="" asp-for="FSubject" readonly>
                        <label for="FSubject">科目</label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="" asp-for="FName" readonly>
                    <label for="FName">課名</label>
                </div>
            <!--代號 readonly-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control " id="floatingInput" placeholder="" asp-for="FCode" readonly>
                        <label for="floatingInput">代號</label>
                    </div>
                </div>

            </div>



            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="" asp-for="FRequirement">
                    <label for="FRequirement">要求</label>
            </div>
            <!--編輯器-->
            <label for="FEditorDes">課程介紹</label>
            <div class="form-floating mb-3">

                <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px; resize: none;" asp-for="FEditorDes"></textarea>
                <span asp-validation-for="FEditorDes" class="text-danger"></span>

            </div>


            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px; resize: none;" asp-for="FHomeworkDescription"></textarea>
                <label for="floatingTextarea">作業</label>
            </div>
        </div>

        <div class="col-6">
            <div class="bg-warning-light text-center rounded-2 mb-4">其他資料</div>
            <!--封面照 croppie裁切-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <input class="form-control" type="file" asp-for="FPhoto" accept="image/*">
                        </div>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary">裁切圖片</button>
                            <button type="submit" class="btn btn-warning">移除圖片</button>
                        </div>
                      
                    </div>
                    @* 預覽圖 *@
                    <partial name="_LessonshowPicturePartial" />
                </div>
            </div>
            @* <img src="~/images/defaultimage.png" class="d-block rounded" alt="..." title="600x400" style="max-width: 600px; max-height: 400px;"> *@
            @* <img src="~/images/defaultimage.png" class=" rounded " alt="..." title="600x400" style="width:60px;height:40px"> *@



            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="售價" asp-for="FPrice">
                <span class="input-group-text">元</span>
                <span asp-validation-for="FPrice" class="text-danger"></span>
            </div>
            <!--人數-->


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput1" placeholder="" asp-for="FMinPeople">
                        <label for="floatingInput1">最低人數</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput2" placeholder="" asp-for="FMaxPeople">
                        <label for="floatingInput2">名額</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label>開課日期</label>
                    <input type="date" class="form-control" asp-for="FLessonDate">
                </div>

                <div class="col-sm-6">
                    <label>報名截止日期</label>
                    <input type="date" class="form-control" asp-for="FRegDeadline">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-6">
                    <label for="inputTime1" class="col-form-label">開始時間</label>
                    <div class="input-group">
                        <input type="time" class="form-control" id="FStartTime" asp-for="FStartTime" >
                       
                    </div>
                </div>
               
                <div class="col-sm-6">
                    <label for="inputTime2" class="col-form-label">結束時間</label>
                    <div class="input-group">
                        <input type="time" class="form-control" id="FEndTime" asp-for="FEndTime">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="FVenueType">場地類型</label>
                <div class="col-sm-6">
                    <fieldset>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="FVenueType" id="onclass" value="true" checked>
                            <label class="form-check-label" for="onclass">
                                實體
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="FVenueType" id="online" value="false">
                            <label class="form-check-label" for="online">
                                線上
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <!--詳細場地資訊-->
            <div id="onClassInfo">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="場地名稱" asp-for="FVenueName">
                    <span asp-validation-for="FVenueName" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <select class="form-select" aria-label="Default select example" id="city" name="city">
                            <option selected>縣市</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-select" aria-label="Default select example" asp-for="FDistrictId" id="district">
                            <option selected>地區</option>

                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="詳細地址" asp-for="FAddressDetail">
                        <span asp-validation-for="FAddressDetail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="onlineInfo" hidden>
                <p class="text-primary"> &#10132;將於成功開課後自動產生課程會議室連結</p>
            </div>

        </div>
    </div>
</div>
<hr />
<div class="row r">
    <div class="col-1 ">
    </div>


        <!-- 按鈕 -->
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-light me-2 text-light" id="demo1">demo1</button>

            <button type="submit" class="btn btn-primary me-2" name="status" value="Update" onclick="setCourseType('@ViewBag.courseType')">儲存變更</button>
            <a class="btn btn-secondary" asp-action="LessonList" asp-controller="TeacherAdmin">取消</a>
            <div class="col-1"></div>
        </div>



    </div>


    <!--彈跳視窗-->
    <!-- Modal -->
    <div class="modal fade" id="cut" tabindex="-1" aria-labelledby="cutLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cutLabel">裁切圖片</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <figure style="border: thin #c0c0c0 solid;border-radius: 8px;  display: flex; flex-flow: column; padding: 8px;margin: auto; background-color: white;width:420px;height:280px;">
                        <img class=" ls-is-cached lazyloaded" style="border-radius:6px;" src="@Url.Action("showPicture", "Lesson", new { id = Model.FLessonCourseId })" alt="course" id="cutPhoto" />
                    </figure>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>

</form>
@section Scripts {
    <script src="~/js/tinascript/changevenuetype.js" asp-append-version="true"></script>
    <script src="~/js/tinascript/previewimage.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/forirr314cvct8ywt434kbf87vah6743olso1oyjfnhh3vhi/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" referrerpolicy="origin"></script>
    <!--Image-->
    <script>

        $("#FPhoto").on("change", function () {
            console.log("Hello");
            previewImage(this, $('#imgPreview'));
        });

    </script>
    <!-- ====================TinyMCE==================== -->
    <!-- 這一段放在自己要用的@section Script -->
    <script>

        // 检查是否需要初始化 TinyMCE
        function initTinyMCE() {
            // 检查是否存在 id 或 name 为 'fEditorDes' 的 textarea
            const textarea = document.getElementById('FEditorDes') || document.querySelector('textarea[name="FEditorDes"]');

            // 如果存在，则初始化 TinyMCE
            console.log(textarea)
            if (textarea) {

                tinymce.init({
                    selector: 'textarea#FEditorDes',
                    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                });
                // 在此添加其他 TinyMCE 配置选项
            }
        }

        // 在页面加载完成后调用函数
        document.addEventListener('DOMContentLoaded', function () {
            initTinyMCE();
        });


    </script>

    <!--Croppie-->
    <script>
        const cutPhoto = $('#cutPhoto').croppie({
            enableExif: true,
            viewport: {
                width: 300,
                height: 200,
                type: 'square'
            },
            boundary: {
                width: 400,
                height: 300
            }
        });

        cutPhoto.croppie('bind', {
            // url: 'demo/cat.jpg',
            points: [77, 469, 280, 739]
        });

        cutPhoto.croppie('result', 'html').then(function (html) {
            // html is div (overflow hidden)
            // with img positioned inside.
        });
    </script>
}
