 @model IEnumerable<LessonCourseVM>

<div class="row" data-aos="fade-up">
    @foreach(var course in Model)
    {
        <div class="col-xl-4 col-sm-6">
            <div class="course-default border radius-md mb-25">
                <figure class="course-img">
                    <a asp-controller ="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" title="" target="_self" class="lazy-container ratio ratio-2-3">
                        <img class="lazyload" src="/images/placeholder.png" data-src="/images/course/pro-5.jpg" alt="course">
                    </a>
                    <div class="hover-show">
                        <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" class="btn btn-md btn-primary rounded-pill" title="Enroll Now" target="_self">立即預約</a>
                    </div>
                </figure>
                <div class="course-details">
                    <div class="p-3">
                        <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title="Design" class="tag font-sm color-primary mb-1">@(course.fieldName)/@(course.subjectName)</a>
                        <h6 class="course-title lc-2 mb-0">
                            <a asp-controller="Lesson" asp-action="Details" asp-route-id="@course.lessonCourse.FLessonCourseId" target="_self" title="Link">
                                @course.lessonCourse.FName
                            </a>
                        </h6>
                        <div class="authors mt-15">
                            <div class="author">
                                <img class="lazyload blur-up radius-sm" src="/images/placeholder.png" data-src="/images/avatar-1.jpg" alt="Image">
                                <span class="font-sm">
                                    <a asp-controller="Teacher" asp-action="Info" asp-route-id="@course.lessonCourse.FTeacherId" target="_self" title="@course.teacherName">
                                        @course.teacherName
                                    </a>
                                </span>
                            </div>
                            @* <span class="font-sm icon-start"><i class="fas fa-clock"></i>06h 00m</span> *@
                        </div>
                    </div>
                    @* <div class="course-bottom-info px-3 py-2">
                        <span class="font-sm"><i class="fas fa-usd-circle"></i>$13.99</span>
                        <span class="font-sm"><i class="fas fa-book-alt"></i>11 Lessons</span>
                    </div> *@
                </div>
            </div>
        </div>
    }
    
</div>
