@model IEnumerable<FinalGroupMVCPrj.Models.DTO.PortfolioListDTO>

<body class="theme-color-1">
    <!-- Breadcrumb start -->
  @*   <div class="breadcrumb-area" >
        <div class="container">
            <div class="content text-left">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-left">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div> *@
    <!-- Breadcrumb end -->
    <!-- Home-area start-->
    <section class="hero-banner hero-banner_v3 header-next pb-60">
        <div class="container">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6">
                    <div class="banner-content mb-40">

                        <h1 class="title mb-30" data-aos="fade-up" data-aos-delay="100">
                            作品總覽
                        </h1>
                        <p class="text-center" data-aos="fade-up" data-aos-delay="100">
                            歡迎到來學樂，來看看同學的作品
                        </p>
                        <div class="banner-filter-form mt-40" data-aos="fade-up" data-aos-delay="150">
                            <div class="form-wrapper border rounded-pill">
                                <form>
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                                            <div class="input-group">
                                                <label for="search"><i class="fas fa-search"></i></label>
                                                <input type="text" id="search" class="form-control" placeholder="Search course">
                                                <div class="vr"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                                            <div class="input-group">
                                                <label for="search"><i class="fas fa-th-large"></i></label>
                                                <select class="niceselect">
                                                    <option data-display="選擇課程">選擇課程種類...</option>
                                                    <option value="1">投資理財</option>
                                                    <option value="2">烹飪</option>
                                                    <option value="3">語言</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-2 col-md-4 col-sm-6">
                                            <button class="btn btn-lg btn-primary btn-gradient rounded-pill w-100" type="button" aria-label="Find Portfolio">
                                                <span>Find Portfolio</span>
                                                <i class="fal fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up">
                    <div class="banner-image mb-40">
                        <img class="lazyload blur-up" src="https://themeforest.kreativdev.com/oppida/demo/assets/images/banner/hero-banner-1.png" data-src="https://themeforest.kreativdev.com/oppida/demo/assets/images/banner/hero-banner-1.png" alt="Banner Image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Bg shapes -->
        <div class="shapes">
            <span class="shape"></span>
            <span class="shape"></span>
            <span class="shape"></span>
        </div>
    </section>
    <!-- Home-area end -->
    <!-- Blog-area start -->
    <div class="blog-area pt-100 pb-75">
        <div class="container">
            <div class="row">
                @foreach (var i in Model)
                {
                    <div class="col-md-6 col-xl-4" data-aos="fade-up">
                        <article class="card mb-25 border radius-md">
                            <div class="card-img">
                                <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-2-3">
                                    <img class="lazyload" src="@i.FFileLink" data-src="@i.FFileLink" alt="Blog Image">
                                </a>
                            </div>
                            <div class="card-content p-25">
                                <div class="card-info mb-10">
                                    <span>@i.FFieldName</span>
                                    <span> @i.FLastModifyTime</span>
                                </div>
                                <h5 class="card-title lc-2 mb-15">
                                    <a asp-controller="Portfolio" asp-action="List" asp-route-id="@i.FCourseworkId" target="_self" title="Link">
                                        @i.FName
                                    </a>
                                    
                                </h5>
                                <p class="card-text lc-2">
                                    @i.FDescrpition
                                </p>
                                <div class="cta-btn mt-15">
                                    <a asp-controller="Portfolio" asp-action="List" asp-route-id="@i.FCourseworkId" class="btn-text color-primary" target="_self" title="Read More">READ MORE</a>
                                </div>
                            </div>
                        </article>
                    </div>
                }
                <div class="col-md-6 col-xl-4" data-aos="fade-up">
                    <article class="card mb-25 border radius-md">
                        <div class="card-img">
                            <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/blog/blog-2.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="card-content p-25">
                            <div class="card-info mb-10">
                                <span>ChatGPT</span>
                                <span>21 June 2023</span>
                            </div>
                            <h5 class="card-title lc-2 mb-15">
                                <a href="blog-single.html" target="_self" title="Link">
                                    Explore ways to maintain balance and maximize your time while pursuing your AI studies.
                                </a>
                            </h5>
                            <p class="card-text lc-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit possimus, nesciunt fuga deserunt ratione non adipisci assumenda dicta exercitationem quisquam sit et autem cumque illo quas, natus maxime tenetur?
                            </p>
                            <div class="cta-btn mt-15">
                                <a href="blogs.html" class="btn-text color-primary" target="_self" title="Read More">READ MORE</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-4" data-aos="fade-up">
                    <article class="card mb-25 border radius-md">
                        <div class="card-img">
                            <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/blog/blog-3.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="card-content p-25">
                            <div class="card-info mb-10">
                                <span>Copywriting</span>
                                <span> 30 Dec 2023</span>
                            </div>
                            <h5 class="card-title lc-2 mb-15">
                                <a href="blog-single.html" target="_self" title="Link">
                                    Gain an in-depth understanding of content writing and learn how it can help you excel in your industry or field of choice.
                                </a>
                            </h5>
                            <p class="card-text lc-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit possimus, nesciunt fuga deserunt ratione non adipisci assumenda dicta exercitationem quisquam sit et autem cumque illo quas, natus maxime tenetur?
                            </p>
                            <div class="cta-btn mt-15">
                                <a href="blogs.html" class="btn-text color-primary" target="_self" title="Read More">READ MORE</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-4" data-aos="fade-up">
                    <article class="card mb-25 border radius-md">
                        <div class="card-img">
                            <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/blog/blog-4.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="card-content p-25">
                            <div class="card-info mb-10">
                                <span>Marketing</span>
                                <span>17 Feb 2023</span>
                            </div>
                            <h5 class="card-title lc-2 mb-15">
                                <a href="blog-single.html" target="_self" title="Link">
                                    Discover the top [Number] essential skills you'll gain from our comprehensive marketing program and stand out in your field.
                                </a>
                            </h5>
                            <p class="card-text lc-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit possimus, nesciunt fuga deserunt ratione non adipisci assumenda dicta exercitationem quisquam sit et autem cumque illo quas, natus maxime tenetur?
                            </p>
                            <div class="cta-btn mt-15">
                                <a href="blogs.html" class="btn-text color-primary" target="_self" title="Read More">READ MORE</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-4" data-aos="fade-up">
                    <article class="card mb-25 border radius-md">
                        <div class="card-img">
                            <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/blog/blog-5.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="card-content p-25">
                            <div class="card-info mb-10">
                                <span>Game Development</span>
                                <span>11 Jan 2023</span>
                            </div>
                            <h5 class="card-title lc-2 mb-15">
                                <a href="blog-single.html" target="_self" title="Link">
                                    Find inspiration and stay focused with these motivational tips to help you succeed in your online Game Development course.
                                </a>
                            </h5>
                            <p class="card-text lc-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit possimus, nesciunt fuga deserunt ratione non adipisci assumenda dicta exercitationem quisquam sit et autem cumque illo quas, natus maxime tenetur?
                            </p>
                            <div class="cta-btn mt-15">
                                <a href="blogs.html" class="btn-text color-primary" target="_self" title="Read More">READ MORE</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-4" data-aos="fade-up">
                    <article class="card mb-25 border radius-md">
                        <div class="card-img">
                            <a href="blog-single.html" target="_self" title="Link" class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="assets/images/placeholder.png" data-src="assets/images/blog/blog-6.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="card-content p-25">
                            <div class="card-info mb-10">
                                <span>Web Design</span>
                                <span>21 May 2023</span>
                            </div>
                            <h5 class="card-title lc-2 mb-15">
                                <a href="blog-single.html" target="_self" title="Link">
                                    Unlock the potential of your career with the powerful skills and knowledge gained through our web-design course.
                                </a>
                            </h5>
                            <p class="card-text lc-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit possimus, nesciunt fuga deserunt ratione non adipisci assumenda dicta exercitationem quisquam sit et autem cumque illo quas, natus maxime tenetur?
                            </p>
                            <div class="cta-btn mt-15">
                                <a href="blogs.html" class="btn-text color-primary" target="_self" title="Read More">READ MORE</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <nav class="pagination-nav mt-15 mb-25" data-aos="fade-up">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="courses.html" aria-label="Previous">
                            <i class="far fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="courses.html">1</a></li>
                    <li class="page-item"><a class="page-link" href="courses.html">2</a></li>
                    <li class="page-item"><a class="page-link" href="courses.html">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="courses.html" aria-label="Next">
                            <i class="far fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Blog-area end -->


</body>

</html>